# Docker compose automatically loads .env file if it exists in the same directory as the compose file

# PostgresSQL source
PG_SOURCE_HOST=postgres-source
PG_SOURCE_PORT=5432
PG_SOURCE_DB=pgsource
PG_SOURCE_USER=pgsource
PG_SOURCE_PASSWORD=pgsource

# Clickhouse dwh
CLICKHOUSE_HOST=clickhouse-server
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_USER=chuser
CLICKHOUSE_PASSWORD=chpassword

# MinIO storage
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_REGION_NAME=eu-central-1
MINIO_ENDPOINT=minio:9000
MINIO_HOST_ENDPOINT=http://localhost:9002

# Metabase
MB_DB_USER=admin
MB_DB_PASS=password